<!-- templates/services.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Nos Services{% endblock %}

{% block content %}
<div class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-bold text-center mb-16 animate__animated animate__fadeIn">Nos Services</h1>
        
        <!-- Services Grid -->
        <div class="space-y-16">
            <!-- Convoyage de fonds -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                <div class="order-2 md:order-1 animate__animated animate__fadeInRight">
                    <div class="flex items-center">
                        <img src="{% static 'images/convoyage.png' %}" alt="Logo securité des biens" class="h-16 mr-8">
                        <h2 class="text-2xl font-bold mb-4">Convoyage de fonds et de valeurs</h2>
                    </div>
                    <p>Transport sécurisé des fonds, d'objets de valeur et de documents sensibles</p>
                    <ul class="space-y-2">
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Sécurisation des fonds
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Protection des objets de valeur
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Confidentialité des documents sensibles
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Equipe hautement qualifiée
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Technologies avancées
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Itinéraires optimisés et planification rigoureuse
                        </li>
                    </ul>
                </div>
                <div class="order-1 md:order-2 bg-gray-200 h-64 rounded-lg">
                    <img src="{% static 'images/armored_vehicle.jpeg' %}" alt="Description de l'image" class="w-full h-full object-cover rounded-lg">
                </div>
            </div>

             <!-- Sécurisation institions financières -->
             <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                <div class="order-2 md:order-1 bg-gray-200 h-64 rounded-lg">
                    <img src="{% static 'images/financial-institution-security.jpg' %}" alt="Description de l'image" class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="order-1 md:order-2 animate__animated animate__fadeInRight">
                    <div class="flex items-center">
                        <img src="{% static 'images/institutions.png' %}" alt="Logo securité des biens" class="h-16 mr-8">
                        <h2 class="text-2xl font-bold mb-4">Sécurité des institutions financières</h2>
                    </div>
                    <p>Déploiement d’agents spécialisés pour la sécurisation
                        des banques, caisses et autres institutions financières</p>
                    <ul class="space-y-2">
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Contrôle d’accès renforcé
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Surveillance intérieure et extérieure
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Gestion des situations de crise
                        </li>
                    </ul>
                </div>
            </div>

             <!-- Sécurité rapprochée -->
             <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                <div class="order-2 md:order-1 animate__animated animate__fadeInLeft">
                    <div class="flex items-center">
                        <img src="{% static 'images/bodygard.png' %}" alt="Logo securité des biens" class="h-16 mr-8">
                        <h2 class="text-2xl font-bold mb-4">Sécurité rapprochée</h2>
                    </div>
                    <p>Protection rapprochée personnalisée pour les individus
                        exposés à desrisques spécifiques.</p>
                    <ul class="space-y-2">
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Analyse préalable des risques
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Agents spécialisés et formés
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Sécurisation des déplacements
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Confidentialité et respect de la vie privée
                        </li>
                    </ul>
                </div>
                <div class="order-1 md:order-2 bg-gray-200 h-64 rounded-lg">
                    <img src="{% static 'images/bodyguard_img.jpg' %}" alt="Description de l'image" class="w-full h-full object-cover rounded-lg">
                </div>
            </div>

            <!-- Sécurité des biens -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                <div class="order-2 md:order-1 bg-gray-200 h-64 rounded-lg">
                    <img src="{% static 'images/property_secur.webp' %}" alt="Description de l'image" class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="order-1 md:order-2 animate__animated animate__fadeInRight">
                    <div class="flex items-center">
                        <img src="{% static 'images/security_bien.png' %}" alt="Logo securité des biens" class="h-16 mr-8">
                        <h2 class="text-2xl font-bold mb-4">Sécurité des biens</h2>
                    </div>
                    <p>Protection efficace et surveillance des biens mobiliers et immobiliers pour prévenir tout risque</p>
                    <ul class="space-y-2">
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Surveillance 24/7
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Prévention des intrusions
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Sécurisation des espaces sensibles
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Intervention rapide en cas d'incident
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Maintenance et suivi
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sécurité minière et gestion des camps -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                <div class="order-2 md:order-1 animate__animated animate__fadeInLeft">
                    <div class="flex items-center">
                        <img src="{% static 'images/security_mine.png' %}" alt="Logo securité des biens" class="h-16 mr-8">
                        <h2 class="text-2xl font-bold mb-4">Spécialiste en sécurité minière et gestion des camps</h2>
                    </div>
                    <p>Expertise dans la sécurisation des sites miniers et la
                        gestion des infrastructures de camps.</p>
                    <ul class="space-y-2">
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Sécurisation des sites d'extraction
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Protection des équipements stratégiques
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 text-blue-900 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                            </svg>
                            Formation et sensibilisation
                        </li>
                    </ul>
                </div>
                <div class="order-1 md:order-2 bg-gray-200 h-64 rounded-lg">
                    <img src="{% static 'images/mine.jpg' %}" alt="Description de l'image" class="w-full h-full object-cover rounded-lg">
                </div>
            </div>

            <!-- Services de géolocalisation et de localisation -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                <div class="order-2 md:order-1 bg-gray-200 h-64 rounded-lg">
                    <img src="{% static 'images/localisation.webp' %}" alt="Description de l'image" class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="order-1 md:order-2 animate__animated animate__fadeInRight">
                    <div class="flex items-center">
                        <img src="{% static 'images/geolocalisation.png' %}" alt="Logo securité des biens" class="h-16 mr-8">
                        <h2 class="text-2xl font-bold mb-4">Services de géolocalisation et de localisation</h2>
                    </div>
                    <p class="text-xl text-gray-600 max-w-3xl mx-auto text-justify">Grâce à des technologies avancées, nous proposons
                        des solutions de suivi en temps réel pour vos biens et
                        vos véhicules. Nos systèmes de géolocalisation
                        permettent de localiser avec précision et rapidité,
                        réduisant ainsi les risques de perte ou de vol.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
